h1,h2,h3,h4{ color: #700505; font-family: 'Montserrat Alternates',sans-serif; }
      a{
        font-size: 150%;
        text-decoration: none;
        color: rgb(8, 8, 8);
        font-family: 'Raajdhani',sans-serif;
       text-shadow: 5px 0  10px rgb(92, 23, 6); 
      }
      a:hover{
        color: #700505 ;
      }
      p{
        font-size: 120%;
        color: #43403d;
        font-family: 'Poppins', sans-serif;
       ;
      }
h3{  text-decoration: underline;}
   
        